{% extends 'header.html'%}
{% load widget_tweaks %}


{% load static %}

{% block content %}
<div id="form">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <form method="POST">
        {% csrf_token %}
        <h4 class="text-center">Admin Register page</h4>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
        <label for="fname">First Name</label>
        <!--<input type="text" id="fname" name="firstname" placeholder="Your name..">-->
        {% render_field form.first_name class="form-control" placeholder="First Name" %}
    
        <label for="lname">Last Name</label>
        <!--<input type="text" id="lname" name="lastname" placeholder="Your last name.."> or using widget-->
        {% render_field form.last_name class="form-control" placeholder="Last Name" %}
    
        <label for="Uname">Username</label>
        {% render_field form.username class="form-control" placeholder="Username" %}

        <label for="Pname"> Password </label>
        {% render_field form.password class="form-control" placeholder="Password" %}
        
        <input type="submit" value="Submit"class="btnSubmit">   
        <div class="text-center">Already have an account? <a href="admin_page.html">CLick Login here</a></div>
    </form>
  </div>
 
  {% endblock content %}