{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
<nav>
    <ul>
        <li><a href="/" class="homelink">Hospital Management</a></li>
        <li><a href="/admin_main.html">ADMIN</a></li>
        <li><a href="/doctor_main.html">DOCTOR</a></li>
        <li><a href="/patient_main.html">PATIENT</a></li>
        <li><a href="#contact">CONSULTANT</a></li>
        <li style="float:right"><a class="active" href="#about">About Us</a></li>
        <li style="float:right"><a class="active" href="#about">Contact Us</a></li>
    </ul>      
</nav>
{%block content%}

{%endblock content%}